
.text {
   display: flex;
   justify-content: left;
   padding-left: 10px;
    color: azure;
    cursor: pointer;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.img {
    
   float: right;
   position: fixed;
   top:20%;
   left :38%;

    margin-left: 100px;
    height: 500px;
    width: 800px;
    display: none;
    transition: display 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.text:hover {
    color: red;
    font-weight: bolder;
}

.oracle:hover +  .oracle1 {
    display: block;
    opacity: 1;
}
.pp:hover + .pp1{
    display: block;
    opacity: 1;
}
.cc1:hover + .cc11{
    display: block;
    opacity: 1;
}
.cc2:hover + .cc21{
    display: block;
    opacity: 1;
}
.lin:hover + .lin1{
    display: block;
    opacity: 1;
}
.ibm:hover + .ibm1{
    display: block;
    opacity: 1;
}