.logo {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

.mainLogo {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile {
  margin-top: 20px;
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home div {
  margin-left: 20px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .home {
      flex-direction: column;
      align-items: center;
  }
  ul{
    list-style: none;
  }
  .profile {
      margin-top: 10px; /* Reduced margin for better spacing */
  }

  .home div {
      margin-left: 0; /* Reset margin for inner divs */
      text-align: center; /* Center text content */
  }

  .mainLogo {
      justify-content: center; /* Center social media icons on mobile */
  }
}
