.logo{
    height: 25px;
    width:25px;
    margin-left: 5px;
  }
  .mainLogo{
    list-style: none;
    display: flex;
    justify-content:first baseline;
    align-items:first baseline;
  }
  .profile{
    margin-top: 20px;
    height:170px;
    width:170px;
    border-radius: 50%;
  }
  .home{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home div{
    margin-left: 20px;
  }