
.header{
color: black;
background-color: transparent;

}
.navbar{
  list-style: none;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color:transparent;
  
 
}
  a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
  
  
}

.navbar li{
  border: 2px black solid;
  background-color: rgb(39, 39, 232);
  height: 50px;
  width:150px;
  border-radius: 10px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li  :hover{
background-color: aquamarine;
color: black;
height: 50px;
width:150px;
border-radius: 10px;

display: flex;
align-items: center;
justify-content: center;
}